html {
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: deepskyblue;
}

div.wrapper {
  margin: auto;
  padding: 5px;
  width: 80%;
  background-color: white
}

div.image {
  display: inline-block;
}

header {
  border-bottom: 1.5px solid #d5d5d5;
  font-family:'Garamond', 'Times New Roman', 'Serif';
  font-size: 1.5em;
}

nav ul {
  font-family:'Verdana', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

footer ul {
  font-family:'Verdana', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: normal;
  text-align: center;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: grey
}
a:hover {
  text-decoration: underline;
  color: blue
}

h1 {
  font-size: 1.3em;
  font-family:'Garamond', 'Times New Roman', 'Serif';
}

p {
  font-size: 1em;
  line-height: 1.2em;
  color: #333333;
}

footer {
  border-top: 1.5px solid #d5d5d5;
  font-size: .8em;
}

footer ul li {
  font-weight: normal;
}

ul.posts {
  margin: auto;
  font-size: 1em;
}

ul.posts li {
  list-style: none;
}
