<!DOCTYPE html>

  <html>
    <head>
      <title>{{page.title}}</title>
      <!-- link to main CSS stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
	  </head>  
    <body>
	<div class="wrapper">
		<header>
		  <h1>Matthew Fogel</h1>
		</header>
		<nav>
			<ul>
			  <li><a href="/">Home</a></li>
			  <li><a href="/about">About</a></li>
			  <li><a href="/blog">Blog</a></li>
			  <li><a href="/projects">Projects</a></li>
			</ul>
		</nav>
        <div class="information">
          {{content}}
        </div><!--/.information-->
       	<footer>
		<ul>
			<li><a href="#" class="fa fa-github"></a></li>
			<li><a href="https://github.com/matthew-fogel">github.com/matthew-fogel</a></li>
			<li>© 2017 Matthew Fogel.</li>
			<li>Background: Haleakala Crater Sunrise © Matthew Fogel
		</ul>
	</footer>
      </div><!--/.wrapper-->
    </body>
  </html>
